body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('https://i.imgur.com/jsKTNi7.jpeg');
      background-size: cover;
      background-position: center;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      flex-direction: column;
}

.container {
    display: flex;
    height: 100vh;
}

.drawer {
    width: 250px;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: all 0.3s ease;
}

.drawer:hover {
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
}

.content {
    flex-grow: 1;
    padding: 20px;
}

h2 {
    color: #00ffcc;
}

p {
    margin-bottom: 15px;
    color:black;
}

.neon-button {
      position: relative;
      margin: 10px;
      padding: 15px 15px;
      background-color: transparent;
      color: yellow;
      font-size: 1.5em;
      border: 2px solid red;
      overflow: hidden;
    }

    .neon-button::before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: rgba(25, 270, 25, 0.3);
      animation: neonAnimation 2s linear infinite;
    }

.text-animation {
    display: inline-block;
    animation: slideInText 2s ease-in-out infinite;
}

@keyframes slideInText {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-20px);
        opacity: 0;
    }
}
.neon-border-box {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #000;
    border: 2px solid #00ffcc;
    border-radius: 10px;
    overflow: hidden;
}

.neon-border-box::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid #00ffcc;
    border-radius: 200px; /* Adjust based on your preference */
    opacity: 0;
    animation: neonGlow 1.5s infinite alternate;
}

@keyframes neonGlow {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
